<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <tr>
            <td> <a href="{% url 'data_source' %}">data_source</a></td>
        </tr>
        <tr>
            <td><a href="{% url 'qa_workflow' %}">qa_workflow</a></td>
        </tr>
        <tr>
            <td><a href="{% url 'add_prompt' %}">add_prompt</a></td>
        </tr>
        <tr>
            <td><a href="{% url 'view_prompt' %}">view_prompt</a></td>
        </tr>
    </table>
</body>
</html>